@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;1,100;1,200;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e3f2fd;
}

.popup {
    position: absolute;
    left: 50%;
    top: -25%;
    visibility: hidden;
    width: 90%; /* Adjusted width for better responsiveness */
    max-width: 490px;
    border-radius: 5px;
    padding: 13px 17px 20px;
    background: #fff;
    display: flex;
    border-top: 3px solid #EA4d67;
    transform: translateX(-50%);
    box-shadow: 0 10px 25px rgba(52, 87, 220, 0);
    transition: all 0.25s ease;
}

.popup.show {
    top: 0;
    visibility: visible; /* Corrected typo in 'visible' */
}

.popup.online {
    border-color: #2ECC71;
}

.popup .icon i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
}

.popup.online .icon i {
    color: #2ECC71; /* Green color for online state */
}

.popup .title {
    font-size: 1.2rem;
}

.popup .desc {
    color: #474747;
    margin: 3px 0 10px;
    font-size: 1.04rem;
}

.popup .reconnect {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.95rem; 
    padding: 9px 15px;
    border-radius: 4px;
    background: #5372F0;
}

.popup.online .reconnect {
    border-color: #2ECC71;
    pointer-events: none;
}
